<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.competicionessql">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompeticionesSQL">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MostrarDetalleEscuderias" />
        <activity android:name=".MostrarEscuderias" />
        <activity android:name=".ActualizarCampeonato2" />
        <activity android:name=".ActualizarCampeonato1" />
        <activity android:name=".BorrarCampeonato" />
        <activity android:name=".NuevaEscuderia" />
        <activity android:name=".NuevoCampeonato" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>